@import '../../../variables';

.account-history {
  @include dark-gray-gradient;
  padding: $dist-middle;
  padding-bottom: $dist-very-big;

  h3 {
    @include section-header;
    font-weight: normal;
    margin-top: 0;
  }

  .bet-types {
    justify-content: center;
    margin-bottom: $dist-big;

    .type {
      @include transition;
      padding: $dist-middle;
      border-bottom: 2px solid transparent;
      margin: 0 $dist-middle;
      cursor: pointer;

      &:hover,
      &.active {
        color: $secondary-color;
        border-bottom-color: $secondary-color;
      }
    }
  }

  .table-header,
  .row {
    justify-content: space-between;
    text-align: center;

    .hyphen {
      padding: 0 $dist-middle;
    }

    .col {
      height: 40px;
      line-height: 40px;
      background-color: $gray;
      width: 5%;

      img {
        margin-left: $dist-middle;
      }
    }

    .date {
      width: 15%;
    }
    .sport {
      width: 8%;
      img {
        width: 20px;
      }
    }
    .country {
      width: 17%;
    }
    .teams {
      width: 21%;
    }
    .bet {
      width: 8%;
    }
    .odds {
      width: 14%;
    }
  }

  .row {
    &:not(:last-child) {
      border-bottom: 1px solid $gray;
    }
    .col {
      height: auto;
      background-color: transparent;
      text-align: right;
      padding-left: $dist-low;
      padding-right: $dist-low;

      .pad {
        margin-right: auto;
      }
    }

    .date {
      justify-content: space-between;

      .live {
        height: 24px;
        line-height: 24px;
        background-color: $red;
        padding: 0 $dist-middle;
        box-shadow: $little-shadow;
      }
    }

    .bet,
    .status,
    .profit {
      text-align: center;
      justify-content: center;
    }

    .bet-item {
      height: 24px;
      padding-left: 10px;
      padding-right: $dist-low;
    }
  }
}
