@import '../../variables';

.bet-slip {
  padding: $dist-low;
  @include dark-gray-gradient-reverse;
  border-radius: $bor-rad;

  h2 {
    @include section-header;
    margin-top: 0;
    font-weight: normal;
    font-size: 1.15em;
  }

  .tabs {
    width: 100%;
    align-items: stretch;
    justify-content: space-between;
    text-align: center;

    .tab {
      flex-basis: 33%;
      padding: $dist-middle 0;
      border-top: 3px solid transparent;
      @include transition;
      cursor: default;
    }
    .tab.active {
      border-top-color: $secondary-color;
      background-color: $black;
    }
  }

  .empty-text {
    text-align: center;
    padding: $dist-big 0;
    background-color: $black;
  }

  .editable-bets-list {
    .editable-bet {
      position: relative;
      overflow: hidden;
      padding: $dist-middle;
      font-size: 0.9em;

      .league {
        @include transition;
        margin-bottom: $dist-low;

        .name {
          height: 16px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        img {
          margin-left: $dist-low;
          z-index: 2;
        }
        i {
          margin-right: auto;
          @include transition;
          &:hover {
            color: $accent-color;
          }
        }
      }

      .teams {
        @include transition;
        border-bottom: 1px solid $gray;

        .live {
          background-color: $light-red;
          padding: 2px $dist-low;
        }
        .score {
          color: $very-light-green;
          padding: 0 $dist-low;
          font-size: 1.1em;
        }
        .names {
          flex-basis: 75%;
          justify-content: center;
          .name {
            display: inline-block;
            flex-basis: 40%;
            height: 16px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:last-child {
              text-align: right;
            }
          }
          .vs {
            padding: 0 $dist-low;
          }
        }
      }

      .selector {
        position: absolute;
        top: $dist-middle;
        right: $dist-middle;
        @include transition;
        opacity: 0;
        z-index: 1;
      }

      .hover {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        background-color: rgba($black, 0.6);
        z-index: 3;
        @include transition;
        transform: translateY(100%);
      }

      &:nth-child(odd) {
        background-color: $black;
        .hover {
          background-color: rgba($gray, 0.4);
        }
      }

      &.not-selected {
        .hover {
          transform: translateY(0);
        }
      }

      &.has-checkbox {
        .selector {
          opacity: 1;
          z-index: 4;
        }

        .league,
        .teams {
          padding-right: 22px;
        }
      }

      .market {
        margin: $dist-big 0;
      }

      .info {
        .string {
          text-align: right;
          margin: $dist-big 0;
          justify-content: space-between;

          .name {
            flex-basis: 60%;
          }
          .value {
            flex-basis: 38%;

            input {
              width: 86px;
            }
          }

          .min-max {
            font-size: 0.8em;
            align-self: flex-end;

            .flex {
              span:first-child {
                padding: 0 $dist-low;
              }
            }
          }

          .with-input {
            justify-content: space-between;
          }
        }
      }
    }
  }

  .bets-options {
    padding: $dist-big;
    font-size: 0.9em;

    .accept-any-odds {
      margin-bottom: $dist-big;
      span {
        padding: 0 $dist-low;
      }
    }

    .single-options {
      text-align: right;

      .total-bets,
      .total-risk,
      .total-win {
        justify-content: space-between;
        span:first-child {
          flex-basis: 60%;
        }
        span:last-child {
          flex-basis: 38%;
        }
      }

      .total-bets,
      .total-risk,
      .stake,
      .total-win {
        margin-bottom: $dist-big;
      }

      .stake,
      .with-input {
        justify-content: space-between;
      }
      .with-input {
        flex-basis: 60%;
      }
      .value {
        flex-basis: 38%;
        input {
          width: 86px;
        }
      }

      .min-max {
        font-size: 0.8em;
        align-self: flex-end;

        .flex {
          span:first-child {
            padding: 0 $dist-low;
          }
        }
      }
    }

    .buttons {
      justify-content: center;

      button {
        margin: 0 $dist-low;
      }
    }
    &.odd-length {
      background-color: $black;
    }
  }
}
