@import '../../variables';

.live-bet {
  @include dark-gray-gradient;
  border-radius: $bor-rad;
  padding: $dist-middle;

  .league {
    position: relative;
    width: 80%;
    height: 50px;
    background-color: $secondary-color;
    color: $black;
    padding: $dist-middle;
    margin-right: -$dist-middle;
    margin-left: auto;

    font-size: 1.2em;

    &:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0px 0px 50px 20px;
      border-color: transparent transparent $secondary-color transparent;
      position: absolute;
      top: 0;
      left: -20px;
    }

    &:after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 50px 20px 0px 0px;
      border-color: $secondary-color transparent transparent transparent;
      position: absolute;
      top: 0;
      right: -20px;
    }

    img {
      margin-left: $dist-middle;
    }
  }

  .video {
    position: relative;
    margin: $dist-big 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 264px;
    background-image: url(../../images/live-match.png);
    background-size: cover;

    box-shadow: inset 0px 35px 50px 0px rgba(0, 0, 0, 0.9);

    .time {
      position: absolute;
      top: $dist-low;
      font-size: 1.2em;
      font-weight: bolder;
      // color: $black;
    }

    .live {
      position: absolute;
      top: $dist-low;
      right: $dist-middle;
      // font-size: 1.2em;
      background-color: $accent-color;
      padding: $dist-low $dist-big;
    }
  }

  .score {
    margin-bottom: $dist-big;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      display: flex;
      align-items: center;
      flex-basis: 45%;
      font-size: 1.1em;

      &:first-child {
        justify-content: flex-end;
      }

      img {
        width: 24px;
        margin: $dist-low $dist-low 0 $dist-low;
      }
    }

    .secondary {
      flex-basis: 10%;
      font-size: 1.5em;

      justify-content: center;
    }
  }

  .odds {
    .line {
      margin-bottom: $dist-low;

      span {
        background-color: $gray;
        flex-basis: 16%;
        padding: 12px;
        text-align: center;

        &:first-child {
          flex-basis: 84%;
          margin-left: $dist-low;
          text-align: right;
        }
      }
    }
  }

  .button {
    justify-content: center;
    padding: $dist-big 0;

    button {
      @include yellow-gradient();
      font-size: 0.9em;
      padding: $dist-middle $dist-very-big;
      border-radius: $bor-rad;
      @include transition();

      &:hover {
        box-shadow: 0 0 8px 4px darken($secondary-color, 5%) inset;
      }
    }
  }
}
