@import '../../../variables';

.slide-versus {
  height: 380px;
  background-image: url(../../../images/stadion.png) 100%;
  background-position: center;
  // background-size: contain;
  background-repeat: round;
}
