@import '../../variables';

.nav {
  ul {
    display: flex;
    flex-direction: var(--direction);

    li a {
      display: inline-block;
      margin: 0 16px;
      height: 56px;
      line-height: 56px;
      border-bottom: 2px solid transparent;
      @include transition();
      cursor: pointer;

      &:hover,
      &.active-link {
        color: $accent-color;
        border-bottom-color: $accent-color;
      }
    }
  }
}
