@import '../../variables';

.in-play-page {
  .sports-nav {
    ul {
      max-width: 1370px;
      margin-left: auto;
      margin-right: auto;

      li {
        background-color: transparent;

        &:hover {
          background-color: $gray;
        }
      }
    }
  }

  .with-aside {
    margin-top: $dist-big;
    margin-bottom: $dist-very-big;
    justify-content: space-between;
    align-items: stretch;

    aside {
      width: 270px;
    }
    main {
      width: 1070px;

      .leagues-selection {
        margin-top: $dist-big;
      }
    }
  }
}
