@import '../../variables';

.prematch-league-page {
  .with-aside {
    margin-top: $dist-big;
    margin-bottom: $dist-very-big;
    justify-content: space-between;
    align-items: stretch;

    aside {
      width: 270px;
    }
    main {
      width: 1070px;

      .leagues-selection {
        margin-top: $dist-big;
      }
    }
  }

  .chat-btn {
    position: fixed;
    bottom: 64px;
    left: $dist-big;
    background-color: $green;
    color: $white;
    @include transition;

    &:hover {
      background-color: darken($light-green, 10%);
    }

    i {
      margin-left: $dist-middle;
    }
  }
}
