@import '../../variables';

.main-slider {
  height: 380px;

  i {
    font-size: 1.5em;
  }

  .aside-arrow {
    margin: 0 $dist-big;
    @include transition();
    cursor: pointer;
    z-index: 5;

    &:hover {
      color: $accent-color;
    }
  }

  .bottom-dots {
    display: flex;
    li {
      width: $dist-middle;
      height: $dist-middle;
      border-radius: 50%;
      @include transition();
      border: 1px solid;
      cursor: pointer;
      margin: $dist-middle $dist-low;

      &:hover {
        background-color: $white;
      }
    }
  }
}
