@import '../../variables';

.participants-header {
  margin-top: $dist-very-big;
  $speed: 1s;

  .content {
    max-width: 75%;
    margin: 0 auto;
    position: relative;

    .circle-container {
      position: absolute;
      left: calc(50% - 96px);
      top: -15%;
    }

    .game-info {
      height: 40px;
      justify-content: center;
      background-color: $secondary-color;
      color: $black;
      img {
        width: 23px;
        margin: 0 $dist-big;
      }
      .flex {
        flex-basis: 33%;
        &:first-child {
          justify-content: flex-end;
        }
      }
      .middle {
        width: 180px;
      }
    }

    .participants {
      height: 72px;
      border: 1px solid $light-gray;
      background: linear-gradient(to right, $black, $gray, $black);
      justify-content: center;
      .middle {
        width: 200px;
      }
      .flex {
        flex-basis: 33%;
        font-size: 20px;
        &:first-child {
          justify-content: flex-end;
        }
        img {
          width: 40px;
          margin: 0 $dist-middle;
        }
        span {
          padding-bottom: $dist-middle;
        }
      }
    }
  }

  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $gray;

    position: relative;
    width: 188px;
    height: 188px;

    border-radius: 50%;
    cursor: default;
    border: 1px solid $light-gray;

    .line {
      @include transition($speed);
      position: absolute;
      height: 93px;
      width: 4px;
      top: 0;
      left: calc(50% - 2px);
      transform-origin: bottom center;
    }

    .text {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 90%;
      height: 90%;
      top: 5%;
      left: 5%;
      background: radial-gradient($gray 0, $black 80%);
      border-radius: 50%;
      border: 1px solid $light-gray;

      .score {
        justify-content: center;
        font-size: 5em;
        flex-basis: 100%;
        text-align: center;
        margin-top: 36px;
        text-shadow: 2px 2px 2px #000000;

        span:first-child,
        span:last-child {
          flex-basis: 40%;
        }
        span:first-child {
          text-align: left;
        }
        span:nth-child(2) {
          padding: 0 $dist-middle;
        }
        span:last-child {
          text-align: right;
        }
      }
      .time {
        font-family: 'digital-7', serif;
        font-size: 2em;
        letter-spacing: 1px;
        margin-bottom: $dist-middle;
      }
    }

    .line-with-dot {
      @include transition($speed);
      position: relative;
      height: 198px;
      width: 3px;
      .dot {
        // position: absolute;
        @include transition($speed);
        width: 20px;
        height: 20px;
        margin-left: auto;
        border-radius: 50%;
        margin-left: -10px;
        // right: 0;
        // top: -50%;
      }
    }
  }
}
