@import '../../../variables';

.slide-match-result {
  height: 380px;

  display: flex;

  .players-img {
    width: 30%;
  }

  .content {
    position: relative;
    width: 70%;
    z-index: 5;
    opacity: 1;

    .back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include dark-gray-gradient();
      opacity: 0.6;
      z-index: -2;
    }

    h2 {
      position: relative;
      padding: 0 $dist-big;
      height: 70px;
      margin-left: -12px;
      background-color: $secondary-color;
      color: $black;
      font-weight: normal;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 30px 70px 0;
        border-color: transparent $secondary-color transparent transparent;
        position: absolute;
        top: 0;
        left: -30px;
      }

      div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        i {
          font-size: 1.1em;
        }

        span {
          display: inline-block;
          padding-left: $dist-big;
        }
      }
    }

    .info {
      padding-top: $dist-big;
      display: flex;
      justify-content: space-evenly;

      .teams {
        .team {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .circle {
            width: 64px;
            height: 64px;

            img {
              max-width: 100%;
            }
          }

          .team-name {
            display: inline-block;
            padding-bottom: $dist-middle;
            font-size: 1.3em;
            width: 250px;
            text-align: center;
          }
        }
      }

      .odds {
        .table {
          .row {
            display: flex;
            margin-bottom: $dist-low;

            .col {
              background-color: $gray;
              width: 62px;
              height: 42px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .col:first-child {
              width: 194px;
              margin-right: $dist-low;
              justify-content: flex-start;
              padding-left: $dist-big;
            }
          }
        }

        .button {
          width: 184px;
          height: 46px;
          margin-top: $dist-very-big;
          @include red-gradient();
          color: $white;
          font-size: 1.1em;
          @include transition();
          box-shadow: none;

          &:hover {
            box-shadow: 0 0 8px 4px darken($accent-color, 5%) inset;
          }
        }
      }
    }
  }

  zoom: 0.7;
}
