@import '../../variables';

.home-page {
  .with-aside {
    margin-top: $dist-very-big;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;

    aside {
      width: 370px;

      .live-bet,
      .casino-games {
        margin-top: $dist-very-big;
      }
    }
    main {
      width: 970px;

      .games-table {
        margin-top: $dist-very-big;
      }
    }
  }
}
