@import '../../variables';

.home-page {
  .with-aside {
    margin-top: $dist-very-big;
    margin-bottom: $dist-very-big;
    justify-content: space-between;
    align-items: stretch;
    // flex-wrap: wrap;

    aside {
      width: 370px;

      margin-left: $dist-very-big;

      .live-bet,
      .casino-games {
        margin-top: $dist-very-big;
      }
    }
    main {
      max-width: 970px;
      min-width: 870px;

      .games-table {
        margin-top: $dist-very-big;
      }
    }
  }
}
