/// Colors
$white: #fefefe;
$black: #191919;

$gray: #4e4e4e;
$light-gray: #979797;

$dark-yellow: #ffc500;
$green: #037b33;

$accent-color: #ec0000;
$secondary-color: $dark-yellow;

/// Distance
$dist-low: 4px;
$dist-middle: 8px;
$dist-big: 16px;
$dist-very-big: 32px;

/// Borders
$bor-rad: 2px;

/// Gradients
@mixin vertical-gradient($from, $to) {
  background: linear-gradient($from, $to);
}
@mixin horizontal-gradient($from, $to) {
  background: linear-gradient(to right, $from, $to);
}

@mixin yellow-gradient {
  @include vertical-gradient(#ffe300, #ffb400);
}
@mixin yellow-gradient-reverse {
  @include vertical-gradient(#ffb400, #ffe300);
}
@mixin red-gradient-reverse {
  @include vertical-gradient(#bc0000, #ff0000);
}
@mixin red-gradient {
  @include vertical-gradient(#ff0000, #bc0000);
}
@mixin dark-gray-gradient {
  @include vertical-gradient($gray, $black);
}
// background: linear-gradient(#e66465, #9198e5);

/// Helpers
@mixin transition($speed: 300ms) {
  transition: all $speed ease-in-out;
}
@mixin section-header($color: $white, $dist: $dist-big) {
  position: relative;
  padding: $dist 0;
  margin-bottom: $dist;
  text-align: center;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(
      to right,
      transparent,
      $color,
      transparent
    );
  }
}
