/// Colors
$accent-color: #ec0000;
$secondary-color: yellow;

$white: #fefefe;
$black: #191919;

$gray: #4e4e4e;
$light-gray: #979797;

$dark-yellow: #ffc500;
$green: #037b33;

/// Gradients
@mixin vertical-gradient($from, $to) {
  background: linear-gradient($from, $to);
}
@mixin horizontal-gradient($from, $to) {
  background: linear-gradient(to right, $from, $to);
}

@mixin yellow-gradient {
  @include vertical-gradient(#ffe300, #ffb400);
}
@mixin yellow-gradient-reverse {
  @include vertical-gradient(#ffb400, #ffe300);
}
@mixin red-gradient {
  @include horizontal-gradient(#bc0000, #ff0000);
}
@mixin red-gradient-reverse {
  @include horizontal-gradient(#ff0000, #bc0000);
}
@mixin dark-gray-gradient {
  @include vertical-gradient($gray, $black);
}
// background: linear-gradient(#e66465, #9198e5);

/// Font
$fz: 1rem;
