@import './variables';

.container {
  max-width: 1370px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.flex {
  display: flex;
  flex-direction: var(--direction);
  align-items: center;
}

.accent {
  color: $accent-color;
}
.secondary {
  color: $secondary-color;
}

.btn {
  font-size: 1em;
  border-radius: $bor-rad;
  padding: 0.5em 1em;
  @include transition;
  border: 1px solid transparent;
}
.btn-acc {
  background-color: $accent-color;
  color: $white;
  &:hover {
    box-shadow: 0 0 8px 4px darken($accent-color, 7%) inset;
  }
}
.btn-sec {
  background-color: $secondary-color;
  color: $black;
  &:hover {
    box-shadow: 0 0 8px 4px darken($secondary-color, 7%) inset;
  }
}
.btn-ter {
  background-color: transparent;
  color: $secondary-color;
  &:hover {
    box-shadow: 0 0 2px 1px darken($secondary-color, 5%) inset;
    border-color: $secondary-color;
  }
}

/// sports colors
.soccer {
  background-color: $white;
  color: $black;
}
