@import './variables';
@import './helpers';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --direction: 'row-reverse'; // 'row-reverse' for rtl
}

@font-face {
  font-family: 'digital-7';
  src: url('./fonts/digital-7.regular.ttf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url(./images/back-home-apge.png);
  background-size: cover;
  background-color: $black;
  color: $white;
  font-size: 14px;
  line-height: 1.15;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}
a,
a:visited {
  color: inherit;
}

button {
  outline: none;
  border: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  direction: rtl;
  outline: none;
  border: none;

  border-radius: $bor-rad;
  padding: $dist-low;
}

input[type='checkbox'] {
  position: relative;
  width: 15px;
  height: 15px;

  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $white;
    border-radius: $bor-rad;
    box-shadow: 0 0 2px 1px $light-gray inset;
  }
  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 80%;
    height: 50%;
    border-left: 2px solid $black;
    border-bottom: 2px solid $black;
    transform: rotate(-45deg);
    top: 10%;
    right: 7%;
    @include transition;
    opacity: 0;
  }
  &:checked {
    &::after {
      opacity: 1;
    }
  }
}
