@import './variables';
@import './helpers';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --direction: 'row-reverse'; // 'row-reverse' for rtl
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url(./images/back-home-apge.png);
  background-size: cover;
  background-color: $black;
  color: $white;
  font-size: 14px;
  line-height: 1.15;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}
a,
a:visited {
  color: inherit;
}

button {
  outline: none;
  border: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  direction: rtl;
  outline: none;
  border: none;

  border-radius: $bor-rad;
  padding: $dist-low;
}
