@import '../../variables';

.chance-markets {
  .total-markets {
    justify-content: space-between;
    align-items: stretch;

    .market-component {
      flex-basis: 48%;

      .fas {
        display: none;
      }
    }
  }

  .cards-markets {
    margin-top: $dist-big;

    justify-content: space-between;
    align-items: stretch;

    .card-market {
      flex-basis: 22%;
      position: relative;

      .card-icon {
        position: absolute;
        top: $dist-big;
        right: $dist-big;
      }

      .fas {
        display: none;
      }

      .hover {
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0.5;
        background-color: $black;
        top: 0;
        left: 0;
      }
    }
  }
}
