@import '../../variables';

.header {
  height: 56px;
  @include dark-gray-gradient;

  .content {
    padding: 0 $dist-very-big;
    height: 100%;

    .logo {
      margin-left: 40px;
    }

    .logged-nav {
      margin-right: auto;
    }
  }
}
